@import "../../styles/includes.scss";


.modal-friend {
  $background-color: rgba(100,100,100,1);
  @include friend-container($background-color,400px,450px);
  .friend-button {
    margin-top:20px;
  }
  .friend-card {
    @include friend-card($background-color);

  }
}

